---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---

<Layout title="About, World!">
  <h1 class="type-h1">About, World!</h1>

  <a href="/">Home</a>
</Layout>
