html {
  -webkit-text-size-adjust: none;
}

body {
  @apply bg-white font-sans text-base leading-normal text-black;
}

[v-cloak] {
  @apply hidden;
}

[disabled] {
  @apply cursor-not-allowed select-none opacity-25 shadow-none;
}

::selection {
  @apply bg-black text-white;
  text-shadow: none;
}

*:focus,
button:focus {
  @apply outline-none;
}

*:focus-visible,
*:focus {
  @apply ring-2 ring-blue-500;
}

*:focus:not(:focus-visible) {
  @apply ring-0;
}
